{% extends 'base.html' %}

{% block title %}
    KINO
{% endblock %}

{% block content %}

    {% for review in reviews %}

        <hr />
        <div>
            <h2><a href="{{ url_for('review.read', id=review['id']) }}">{{ review['title'] }}</a></h2>  
            <p>by {{ review['username'] }} on {{ review['created'].strftime('%Y-%m-%d') }}</p>
                {% if g.user['id'] == review['user_id'] %}
                    <a class="action" href="{{ url_for('review.update', id=review['id']) }}">Edit</a>
                {% endif %}
            <p>{{ review['body'] }}</p>
        </div>
    {% endfor %}

{% endblock %}
