{% extends 'base.html' %}

{% block content %}

    {% for review in reviews %}

        <article>
            <div>
                <h3>{{ review['title'] }}</h3>
                <h4>by {{ review['username'] }} on {{ review['created'].strftime('%Y-%m-%d') }}</h4>
                {% if g.user['id'] == review['user_id'] %}
                    <a class="action" href="{{ url_for('review.update', id=review['id']) }}">Edit</a>
                {% endif %}
            </div>
            <p>{{ review['body'] }}</p>
        </article>
        {% if not loop.last %}
            <hr />
        {% endif %}
    {% endfor %}

{% endblock %}
